
.navbar-default {
  background-color: #191919;
  color: #f1f1f1;
}
header {
  background: #e74c3c;     
}



hr.star-light:after {
    background-color: #e74c3c;
    color: #fff;
}


  
 a:hover {
  color: #FFF!important;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
  background-color: transparent;
  border-color:  #e74c3c;
}

.active {
  background-color: #c0392b;
}

.navbar-default {
 background: #2C3E50;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
 background: transparent;
}



#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(192,57,43, .6);
}


section.success {
  background: #e74c3c;
}


hr.star-primary {
    border-color: #c0392b;
}
/*** PULSE**/

section {
  margin: 0 auto;
  text-align: center;
}
section:last-child {
  margin-bottom: 0;
}
section a {
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s;
}

.btn-social .fa {
  line-height: 45px;
}

.cmn-t-underline {
  position: relative;
  color: #FFF;
  padding: 10px 40px;
  background:  transparent;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px #fff solid;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: #FFF;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: #fff;
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.cmn-t-contact {
  border: 1px  #e74c3c solid;
  color:  #e74c3c;
}

.cmn-t-contact:hover {
  color:  #e74c3c;
}

.cmn-t-contact:after {
  background-color:  #e74c3c;
}

.floating-label-form-group-with-value,
.floating-label-form-group label {
  color:  #e74c3c;
}



a, a.active, a:active, a:focus, a:hover {
  color:  #e74c3c;
  text-decoration: none;
}

.active {
  background-color: transparent;
}

footer .footer-above {
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

footer .footer-below {
  background-color: #2C3E50;
}


/** Selector Colors **/

::selection {
  background: #2C3E50; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #2C3E50; /* Gecko Browsers */
}
